# ==========================================
# DEPENDANCES INTERFACE GRAPHIQUE & IMAGES
# ==========================================
customtkinter>=5.2.0
Pillow>=10.0.0

# ==========================================
# SECURITE & CHIFFREMENT
# ==========================================
cryptography>=41.0.0

# ==========================================
# STATISTIQUES & GRAPHIQUES
# ==========================================
matplotlib>=3.7.0

# ==========================================
# CLIENT API & RESEAU (LLINK IA)
# ==========================================
httpx>=0.24.0

# ==========================================
# OUTILS DE COMPILATION NATIVE (CYTHON)
# ==========================================
setuptools>=68.0.0
Cython>=3.0.0
